@font-face {
  font-family: myFirstFont;
  src: url('./fonts//Patriot-Bold.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: myFirstFont;
  overflow-x: hidden;
  /* position: relative; */
}
ul{
  color: white;
}
li{
  float: left;
  padding: 40px;
  list-style: none;
}

canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* position: absolute; */
  top: 0;
}

.details {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.ball-text {
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 16rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .ball-text {
    font-size: 2rem;
    right: 50%;
    bottom: 25%;
    transform: translate(50%, 50%);
  }
  h1 {
    font-size: 2rem;
  }
}
